.container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  overflow-x: scroll;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0);
  color: white;
  z-index: 100;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
}