/* Custom Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.str-chat__container, .str-chat-channel, .str-chat {
  margin: 0 !important;
}

.containerChannel {
  max-height: 14rem;
  overflow-y: scroll;
}

.channelListContainer{
  height:96vh;
  background-color: #1C1C1C;
  padding:1rem 0.8rem;
  color: white;
  overflow-y: scroll;
  
  /* Remove scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Remove scrollbar */
.channelListContainer::-webkit-scrollbar {
  display: none;
}

.channelSearch{
  width:270px;
  margin: 1rem 0 ;
  background-color: grey;
  color:white;
  padding:0.6rem 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.channelSearch::placeholder {
  color: #ffffff88;
}

.channelTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: #6A6A6A;
  background-color: #232323;
  margin-block: 1rem;
}
.channelCreateButton{
width: 172px;
height: 44px;
left: 100px;
top: 209px;
background: linear-gradient(92.1deg, purple 0%, purple 100%);
border-radius: 4px;
border: none;
margin:1rem 20% ;
cursor: pointer;
}
.str-chat.messaging{
  width:100%;
  /* width: 90%; */
  /* height: fit-content; */
  /* background-color: #1C1C1C; */
}
.str-chat-channel-list{
  float:center;
}
.channelInfo{
  /* width:100%; */
  height:40px;
  padding:2px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
}
.channelInfo:hover{
  background-color: black;
}
.channel_image{
   width: 1.875rem;
   height: 1.875rem;
   border-radius: 50%;
   /* margin:0 1rem 0 0 ; */
}
.channel_name{
  color: whitesmoke;
}
.participants_info{
  /* width:100%; */
  height:40px;
  padding:2px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  gap: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;

}
.participants_info:hover{
  background-color: black;
  
}
.str-chat__container,.str-chat-channel,.str-chat{
  margin:0 8rem;  
  /* width:400px; */
  height:96vh;
  
}
.str-chat.messaging{
  background-color: transparent;
  /* width:0px; */
}

.messaging.str-chat .str-chat__list::-webkit-scrollbar {
  display: none;
}

.messaging.str-chat .str-chat__list {
 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.str-chat__input-flat {
  padding: var(--xs-p) 0.5rem !important;
}

.str-chat.messaging, .str-chat.commerce {
  background-color:transparent !important;
}
.messaging.str-chat .str-chat__list {
  /* background:#1C1C1C !important; */
}
.messaging.str-chat .str-chat__header-livestream {
  border-radius: 0px !important;
}
.chatContainer-main{
  width:20rem;
  margin: 0 !important;
}

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 0 !important;
}
.channelMessageContainer{
  height:14rem;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.deleteBtn {
  opacity: 0.5;
}

.deleteBtn:hover {
  opacity: 1;
}
.messaging.str-chat .str-chat__list {
  padding:  0 !important;
  background: var(--white);
}
*{
  font-family: 'Poppins';
}
.str-chat__date-separator {
  display: flex;
  padding:1rem !important;
 
  align-items: center;
}
.str-chat__date-separator-date {
  
  font-family: "Poppins","sans-serif" !important;
}
.str-chat__date-separator-line {

  background-color:#ffffff55 !important;
  
}